/* Centrar elementos */
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

/* Contorno del canvas */
#mi-canvas{
    border: 1px solid black;
}